
chroma_db/
data/

.env
poetry.lock
# Virtual environment
venv/
#Model
model/
# env
.vscode/
.env
# github
.github/


# Python bytecode / cache
__pycache__/
*.py[cod]

.DS_Store

# test
test/
test.py
test_trend.py
test.ipynb

SKALA전달용_구성원성장history_v.0.2_250530.xlsx
SKALA전달용_mySUNI 과정리스트_v.0.1.xlsx
SKALA전달용_College등록과정_v.0.1.xlsx

mysuni_save.py