
chroma_db/
data/

.env
poetry.lock
# Virtual environment
venv/
#Model
model/
# env
.vscode/
.env
# github
.github/


# Python bytecode / cache
__pycache__/
*.py[cod]

.DS_Store

# test
test/
test.py
test_trend.py
